@import 'fonts';

//Default variables
$default-green: #5FB57D;
$nav-button: #F79482;
$background-white: #F9F9F9;

@mixin transition-duration($time) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;
}


//Main page lagyout
//body
.body-color {
  background: $background-white;
}

#container {
  font-family: 'Bauhaus-Light-Light';
  background: $background-white;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

//Header and Nav style
#header-name {
  font-family: dymaxionscriptregular;
  padding: 20px 0 45px;
  border-bottom: 1px solid #9B9B9B;
  margin-bottom: 5px;
  color: $default-green;
  font-size: 30px;
}

#nav-list {
  padding: 15px 0 50px;
  display: inline-flex;
}

.nav-link {
  background: $nav-button;
  color: white;
  border: 1px solid $nav-button;
  font-family: 'Bauhaus-Thin';
}

.nav-button {
  display: block;
  color: $default-green;
  font-size: 17px;
  width: 110px;
  margin: 5px 20px;
  padding: 3px 0;
  border: 1px solid $default-green;
  background: white;
  border-radius: 5px;
  text-decoration: none !important;

  &:focus {
    @extend .nav-link;
  }

  &:hover {
    @extend .nav-link;
  }
}

//pseudo classes
.active {
  background: $nav-button;
  color: white;
  border: 1px solid $nav-button;
  font-family: 'Bauhaus-Thin';
}

.class-with-pad {
  position: relative;
  width: 312px;
  img {
    width: 100%;
  }
}

#overlay-caption {
  height: 100%;
}

#portfolio-container {
  display: flex;
  justify-content: space-between;;
}

.portfolio-overlay {
  color: white;
  position: absolute;
  bottom: 0;  
  left: 0;
  width: 100%;
  height: 30%;
  padding: 10px 20px;
  background-color: $default-green;
  opacity: 0.8;
  @include transition-duration(.7s);
  &:hover {
    height: 90%;
    @include transition-duration(.7s);
    #overlay-caption {
      height: 30%;
    }
  }
}

//personal info styles
#personal-info {
  background-color: #FFFFFF;
  text-align: left;
  height: 100%;
  padding: 20px;
  font-size: 16px;
  p {
    margin: 30px 0;
  }
  h3 {
    color: $default-green;
  }
  h4 {
    color: lightgrey;
  }
}

.about-me-box {
  height: 600px;
}

#about-image-container {
  background: #FFFFFF;
  padding: 20px;
  width: 90%;
}

.about-image {
  width: 100%;
  height: 100%;
}

#badges {
  img {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  h4 {
    color: red;
  }
}

#badge-icons {
  display: flex;
  justify-content: space-between;
  div {
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
  }
}
