#container
  background: blue
  text-align: center
  margin: 0 auto
  width: 80%

#header
  background: white

#nav-list
  padding: 15px 0 50px

.nav-button
  color: #9ace9a
  margin: 5px 20px
  padding: 5px 30px
  border: 1px solid #9ace9a
  background: white
  border-radius: 5px
  text-decoration: none
  &:focus
    background: pink
    color: white
    border: 1px solid pink

.portfotio-grid
  background: red

.about-image
  width: 100px
  height: 100px
